/* Large screens: keep standard layout */
@media (min-width: 768px) {
    #legend-button {
        display: none;
        /* Hide the button for desktops */
    }
}

/* Small screens: override layout */
@media (max-width: 767px) {

    /* Make main container display as a block so map can fill width */
    #main-container {
        display: block;
    }

    #legend {
        display: none;
        position: absolute;
        bottom: 0px;
        /* below the title bar (approx) */
        background-color: white;
        z-index: 999;
    }

    #legend-button {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1000;
        padding: 8px 12px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    /* Let the map fill the screen width */
    #map {
        width: 100%;
        height: 100%;
    }
}


.legend h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.legend-colors,
.legend-icon {
    margin-top: 4px;
}

.legend-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border: 1px solid #000;
    vertical-align: middle;
}

.legend-circle {
    vertical-align: middle;
}

#legend-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 4px;
    border: 0px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

#legend-button:hover {
    cursor: pointer;
}